<div id="goodReadBackground">
        <img id="imgWithBooks" class="shadow" src="views/img/img1.png" alt="">
        <h1>Welcome To </h1>
</div>
<br>
<div class="container" >
    <ul class="nav nav-tabs">
        <!-- <li ng-class="{'active': isActive2}"><a ng-click="activeButtonAllBokks()" data-toggle="tab" href="#allBokksPage"> All books </a></li> -->
        <li><a data-toggle="tab" href="#!/homePage"> Home </a></li>
        <li><a data-toggle="tab" href="#!/allBooks"> All books </a></li>
        <li><a data-toggle="tab" href="#!/romance"> Romance </a></li>
        <li><a data-toggle="tab" href="#!/science"> Science</a></li>
        <li><a data-toggle="tab" href="#!/history">History</a></li>
        <li><a data-toggle="tab" href="#!/cookbooks">Cookbooks</a></li>
        <li><a data-toggle="tab" href="#!/fantasy">Fantasy</a></li>
        <li><a data-toggle="tab" href="#!/biographies">Biographies</a></li>
        <li><a data-toggle="tab" href="#!/comics">Comics</a></li>
        <li><a data-toggle="tab" href="#!/travel">Travel</a></li>
        <li><a data-toggle="tab" href="#!/health">Health</a></li>
        <li><a data-toggle="tab" href="#!/drama">Drama</a></li>
    </ul>
  
    <!-- <div  "home-directive" class="tab-content">
     
    </div> -->

    <home-directive >
        
    </home-directive>




  </div>