
<div id="allBackgroundAllBooksPage">
    <div id="bigBoxAllBooksOne">
        <div id="smallBoxAllBooksOne" fxLayout="row" fxLayoutAlign="center center">
            <div class="classllBlackTemplate" fxLayout="row" fxLayoutAlign="center center">

            </div>
        </div>

        <div id="smallBoxAllBooksTwo" fxLayout="row" fxLayoutAlign="center center">

            <slider images="imagess" fxLayout="row" fxLayoutAlign="center center"/>
            <!-- <slider images="books"/> -->
            
        </div>

        <div id="smallBoxAllBooksThree" fxLayout="row" fxLayoutAlign="center center">
            <div class="classllBlackTemplate" fxLayout="row" fxLayoutAlign="center center">

            </div>
        </div>
    </div>
    
    <div id="navAllBooks">
        <!-- <ul class="nav nav-tabs">
                    <li>
                        <div class="dropdown">
                            <a class="dropbtn btn colorMenuBooks" >Dropdown</a>
                            <div class="dropdown-content">
                                <a ng-click="sortAZ()" class="btn btn-2"> Sort From A to Z</a>
                                <a ng-click="sortZA()" class="btn btn-2">Sort From Z to A</a>
                                <a ng-click="sortLike()" class="btn btn-2">Sort by like</a>
                            </div>
                        </div>++
                    </li>
                    <li><a data-toggle="tab" data-target="#allBooks"  ng-click="allBook()" href="#!/allBooks" class="colorMenuBooks"> All books </a></li>
                    <li><a data-toggle="tab" ng-click="romanceBook()" class="colorMenuBooks"> Romance </a></li>
                    <li><a data-toggle="tab" ng-click="science()" class="colorMenuBooks"> Science</a></li>
                    <li><a data-toggle="tab" ng-click="historyB()" class="colorMenuBooks">History</a></li>
                    <li><a data-toggle="tab" ng-click="cookbooks()" class="colorMenuBooks">Cookbooks</a></li>
                    <li><a data-toggle="tab" ng-click="fantasy()" class="colorMenuBooks">Fantasy</a></li>
                    <li><a data-toggle="tab" ng-click="biographies()" class="colorMenuBooks">Biographies</a></li>
                    <li><a data-toggle="tab" ng-click="comics()" class="colorMenuBooks">Comics</a></li>
                    <li><a data-toggle="tab" ng-click="travel()" class="colorMenuBooks">Travel</a></li>
                    <li><a data-toggle="tab" ng-click="health()" class="colorMenuBooks">Health</a></li>
                    <li><a data-toggle="tab" ng-click="drama()" class="colorMenuBooks">Drama</a></li>
                    <li> <a>  <input  type="text" class="searchBook" placeholder="Search by Title " ng-model="bookTitle"> </a> </li>
                    <li> <a> <input  type="text" class="searchBook" placeholder="Search by Author " ng-model="bookAuthor"> </a> </li>
        </ul> -->
        <nav style="z-index: 999" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
            </div>

            <div class="collapse navbar-collapse"  id="myNavbar" style="z-index:999">
                <ul class="nav navbar-nav" style="z-index:999">
                    <li>
                        <div class="dropdown">
                            <a class="dropbtn btn colorMenuBooks" >Dropdown</a>
                            <div class="dropdown-content">
                                <a ng-click="sortAZ()" class="btn btn-2"> Sort From A to Z</a>
                                <a ng-click="sortZA()" class="btn btn-2">Sort From Z to A</a>
                            </div>
                        </div>
                    </li>
                    <li><a data-toggle="tab" data-target="#allBooks"  ng-click="allBook()" href="#!/allBooks" class="colorMenuBooks"> All books </a></li>
                    <li><a data-toggle="tab" ng-click="romanceBook()" class="colorMenuBooks"> Romance </a></li>
                    <li><a data-toggle="tab" ng-click="science()" class="colorMenuBooks"> Science</a></li>
                    <li><a data-toggle="tab" ng-click="historyB()" class="colorMenuBooks">History</a></li>
                    <li><a data-toggle="tab" ng-click="cookbooks()" class="colorMenuBooks">Cookbooks</a></li>
                    <li><a data-toggle="tab" ng-click="fantasy()" class="colorMenuBooks">Fantasy</a></li>
                    <li><a data-toggle="tab" ng-click="biographies()" class="colorMenuBooks">Biographies</a></li>
                    <li><a data-toggle="tab" ng-click="comics()" class="colorMenuBooks">Comics</a></li>
                    <li><a data-toggle="tab" ng-click="travel()" class="colorMenuBooks">Travel</a></li>
                    <li><a data-toggle="tab" ng-click="health()" class="colorMenuBooks">Health</a></li>
                    <li><a data-toggle="tab" ng-click="drama()" class="colorMenuBooks">Drama</a></li>
                    <li> <a>  <input  type="text" class="searchBook" placeholder="Search by Title " ng-model="bookTitle"> </a> </li>
                    <li> <a> <input  type="text" class="searchBook" placeholder="Search by Author " ng-model="bookAuthor"> </a> </li>
                </ul>
            </div>
        </div>
        </nav>
    </div>

    <div id="bigBoxAllBooksTwo" style="z-index: 1">
        <div id="boxWithBooks">

            <div class="templallbooks" ng-show="allBooks" fxLayout="row" fxLayoutAlign="center center">
                
                    <div class="bigBoxBookTempl" ng-repeat="book in books  | filter: { title: bookTitle, author: bookAuthor  }">
                            <img  src="{{book.pictureBook}}" alt="" title="Harry Potter"> </img> 
                            <div class="boxBookTempl">
                               <div class="dropdown-contentImg">
                                    <img src="{{book.pictureBook}}" ng-click="moreInfo(book._id)" title='click to view more about book'  width="260" height="380">
                                    <div class="desc">{{book.title}}</div>
                                    <div id="buttonsForLikeAddEdit">
                                        <button  ng-click="addToFavorite(book._id)" class="classButtonsBook" title="Add to my favorite"> <img src="views/img/icons8-romance-48.png" alt=""> </button>
                                        <button  ng-show="isAdmin" ng-click="deleteBook(book._id)" class="classButtonsBook" title="Delete book"> <img src="views/img/icons8-trash-can-40.png" alt=""> </button>
                                        <!-- <button  ng-show="isAdmin" class="classButtonsBook" title="Edit info for book"> <img src="views/img/icons8-eraser-48.png" alt=""> </button> -->
                                    </div>
                                </div>
                            </div>
                    </div>

            </div>

             <div class="templallbooks" ng-show="raomanceBook" fxLayout="row" fxLayoutAlign="center center">
                    <div class="bigBoxBookTempl" ng-repeat="romanceBook in romanceBooks  | filter: { title: bookTitle, author: bookAuthor   }">
                            <img  src="{{romanceBook.pictureBook}}" alt="" title="Harry Potter"> </img> 
                            <div class="boxBookTempl">
                               <div class="dropdown-contentImg">
                                    <img src="{{romanceBook.pictureBook}}" ng-click="moreInfo(romanceBook._id)" title='click to view more about book'  width="280" height="400">
                                    <div class="desc">{{romanceBook.title}}</div>
                                    <div id="buttonsForLikeAddEdit">
                                        <button  ng-click="addToFavorite(romanceBook._id)" class="classButtonsBook" title="Add to my favorite"> <img src="views/img/icons8-romance-48.png" alt=""> </button>
                                        <button  ng-show="isAdmin" ng-click="deleteBook(romanceBook._id)" class="classButtonsBook" title="Delete book"> <img src="views/img/icons8-trash-can-40.png" alt=""> </button>
                                        <!-- <button  ng-show="isAdmin" class="classButtonsBook" title="Edit info for book"> <img src="views/img/icons8-eraser-48.png" alt=""> </button> -->
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="templallbooks" ng-show="fantasyBook" fxLayout="row" fxLayoutAlign="center center">
                    <div class="bigBoxBookTempl"  ng-repeat="fantasyBook in fantasyBooks   | filter: { title: bookTitle, author: bookAuthor  }">
                            <img  src="{{fantasyBook.pictureBook}}" alt=""  > </img> 
                            <div class="boxBookTempl">
                               <div class="dropdown-contentImg">
                                    <img src="{{fantasyBook.pictureBook}}" ng-click="moreInfo(fantasyBook._id)" title='click to view more about book'  width="280" height="400">
                                    <div class="desc">{{fantasyBook.title}}</div>
                                    <div id="buttonsForLikeAddEdit">
                                        <button  ng-click="addToFavorite(fantasyBook._id)" class="classButtonsBook" title="Add to my favorite"> <img src="views/img/icons8-romance-48.png" alt=""> </button>
                                        <button  ng-show="isAdmin" ng-click="deleteBook(fantasyBook._id)" class="classButtonsBook" title="Delete book"> <img src="views/img/icons8-trash-can-40.png" alt=""> </button>
                                        <!-- <button  ng-show="isAdmin" class="classButtonsBook" title="Edit info for book"> <img src="views/img/icons8-eraser-48.png" alt=""> </button> -->
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="templallbooks"  ng-show="scienceBook" fxLayout="row" fxLayoutAlign="center center">
                    <div class="bigBoxBookTempl"  ng-repeat="scienceBook in scienceBooks | filter: { title: bookTitle, author: bookAuthor  }">
                            <img  src="{{scienceBook.pictureBook}}" alt=""  > </img> 
                            <div class="boxBookTempl">
                               <div class="dropdown-contentImg">
                                    <img src="{{scienceBook.pictureBook}}" ng-click="moreInfo(scienceBook._id)" title='click to view more about book'  width="280" height="400">
                                    <div class="desc">{{scienceBook.title}}</div>
                                    <div id="buttonsForLikeAddEdit">
                                        <button  ng-click="addToFavorite(scienceBook._id)" class="classButtonsBook" title="Add to my favorite"> <img src="views/img/icons8-romance-48.png" alt=""> </button>
                                        <button  ng-show="isAdmin" ng-click="deleteBook(scienceBook._id)" class="classButtonsBook" title="Delete book"> <img src="views/img/icons8-trash-can-40.png" alt=""> </button>
                                        <!-- <button  ng-show="isAdmin" class="classButtonsBook" title="Edit info for book"> <img src="views/img/icons8-eraser-48.png" alt=""> </button> -->
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="templallbooks"  ng-show="historyBook" fxLayout="row" fxLayoutAlign="center center">
                    <div class="bigBoxBookTempl"  ng-repeat="historyBook in historyBooks | filter: { title: bookTitle, author: bookAuthor  }">
                            <img  src="{{historyBook.pictureBook}}" alt=""  > </img> 
                            <div class="boxBookTempl">
                               <div class="dropdown-contentImg">
                                    <img src="{{historyBook.pictureBook}}" ng-click="moreInfo(historyBook._id)" title='click to view more about book'  width="280" height="400">
                                    <div class="desc">{{historyBook.title}}</div>
                                    <div id="buttonsForLikeAddEdit">
                                        <button  ng-click="addToFavorite(historyBook._id)" class="classButtonsBook" title="Add to my favorite"> <img src="views/img/icons8-romance-48.png" alt=""> </button>
                                        <button  ng-show="isAdmin" ng-click="deleteBook(historyBook._id)" class="classButtonsBook" title="Delete book"> <img src="views/img/icons8-trash-can-40.png" alt=""> </button>
                                        <!-- <button  ng-show="isAdmin" class="classButtonsBook" title="Edit info for book"> <img src="views/img/icons8-eraser-48.png" alt=""> </button> -->
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="templallbooks"  ng-show="cookbooksBook" fxLayout="row" fxLayoutAlign="center center">
                 <div class="bigBoxBookTempl"  ng-repeat="cookbooksBook in cookbooksBooks   | filter: { title: bookTitle, author: bookAuthor  }">
                            <img  src="{{cookbooksBook.pictureBook}}" alt=""  > </img> 
                            <div class="boxBookTempl">
                               <div class="dropdown-contentImg">
                                    <img src="{{cookbooksBook.pictureBook}}" ng-click="moreInfo(cookbooksBook._id)" title='click to view more about book'  width="280" height="400">
                                    <div class="desc">{{cookbooksBook.title}}</div>
                                    <div id="buttonsForLikeAddEdit">
                                        <button  ng-click="addToFavorite(cookbooksBook._id)" class="classButtonsBook" title="Add to my favorite"> <img src="views/img/icons8-romance-48.png" alt=""> </button>
                                        <button  ng-show="isAdmin" ng-click="deleteBook(cookbooksBook._id)" class="classButtonsBook" title="Delete book"> <img src="views/img/icons8-trash-can-40.png" alt=""> </button>
                                        <!-- <button  ng-show="isAdmin" class="classButtonsBook" title="Edit info for book"> <img src="views/img/icons8-eraser-48.png" alt=""> </button> -->
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="templallbooks"  ng-show="biographiesBoook" fxLayout="row" fxLayoutAlign="center center">
                    <div class="bigBoxBookTempl"  ng-repeat="biographiesBook in biographiesBooks   | filter: { title: bookTitle, author: bookAuthor  }">
                            <img  src="{{biographiesBook.pictureBook}}" alt=""  > </img> 
                            <div class="boxBookTempl">
                               <div class="dropdown-contentImg">
                                    <img src="{{biographiesBook.pictureBook}}" ng-click="moreInfo(biographiesBook._id)" title='click to view more about book'  width="280" height="400">
                                    <div class="desc">{{biographiesBook.title}}</div>
                                    <div id="buttonsForLikeAddEdit">
                                        <button  ng-click="addToFavorite(biographiesBook._id)" class="classButtonsBook" title="Add to my favorite"> <img src="views/img/icons8-romance-48.png" alt=""> </button>
                                        <button  ng-show="isAdmin" ng-click="deleteBook(biographiesBook._id)" class="classButtonsBook" title="Delete book"> <img src="views/img/icons8-trash-can-40.png" alt=""> </button>
                                        <!-- <button  ng-show="isAdmin" class="classButtonsBook" title="Edit info for book"> <img src="views/img/icons8-eraser-48.png" alt=""> </button> -->
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="templallbooks"  ng-show="comicsBook" fxLayout="row" fxLayoutAlign="center center">
                    <div class="bigBoxBookTempl"  ng-repeat="comicsBook in comicsBooks   | filter: { title: bookTitle, author: bookAuthor  }">
                            <img  src="{{comicsBook.pictureBook}}" alt=""  > </img> 
                            <div class="boxBookTempl">
                               <div class="dropdown-contentImg">
                                    <img src="{{comicsBook.pictureBook}}" ng-click="moreInfo(comicsBook._id)" title='click to view more about book'  width="280" height="400">
                                    <div class="desc">{{comicsBook.title}}</div>
                                    <div id="buttonsForLikeAddEdit">
                                        <button  ng-click="addToFavorite(comicsBook._id)" class="classButtonsBook" title="Add to my favorite"> <img src="views/img/icons8-romance-48.png" alt=""> </button>
                                        <button  ng-show="isAdmin" ng-click="deleteBook(comicsBook._id)" class="classButtonsBook" title="Delete book"> <img src="views/img/icons8-trash-can-40.png" alt=""> </button>
                                        <!-- <button  ng-show="isAdmin" class="classButtonsBook" title="Edit info for book"> <img src="views/img/icons8-eraser-48.png" alt=""> </button> -->
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="templallbooks"  ng-show="travelBook" fxLayout="row" fxLayoutAlign="center center">
                    <div class="bigBoxBookTempl"  ng-repeat="trevalBook in trevalBooks   | filter: { title: bookTitle, author: bookAuthor  }">
                            <img  src="{{trevalBook.pictureBook}}" alt=""  > </img> 
                            <div class="boxBookTempl">
                               <div class="dropdown-contentImg">
                                    <img src="{{trevalBook.pictureBook}}" ng-click="moreInfo(trevalBook._id)" title='click to view more about book'  width="280" height="400">
                                    <div class="desc">{{trevalBook.title}}</div>
                                    <div id="buttonsForLikeAddEdit">
                                        <button  ng-click="addToFavorite(trevalBook._id)" class="classButtonsBook" title="Add to my favorite"> <img src="views/img/icons8-romance-48.png" alt=""> </button>
                                        <button  ng-show="isAdmin" ng-click="deleteBook(trevalBook._id)" class="classButtonsBook" title="Delete book"> <img src="views/img/icons8-trash-can-40.png" alt=""> </button>
                                        <!-- <button  ng-show="isAdmin" class="classButtonsBook" title="Edit info for book"> <img src="views/img/icons8-eraser-48.png" alt=""> </button> -->
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="templallbooks"  ng-show="healthBook" fxLayout="row" fxLayoutAlign="center center">
                    <div class="bigBoxBookTempl"  ng-repeat="healthBook in healthBooks   | filter: { title: bookTitle, author: bookAuthor  }">
                            <img  src="{{healthBook.pictureBook}}" alt=""  > </img> 
                            <div class="boxBookTempl">
                               <div class="dropdown-contentImg">
                                    <img src="{{healthBook.pictureBook}}" ng-click="moreInfo(healthBook._id)" title='click to view more about book'  width="280" height="400">
                                    <div class="desc">{{healthBook.title}}</div>
                                    <div id="buttonsForLikeAddEdit">
                                        <button  ng-click="addToFavorite(healthBook._id)" class="classButtonsBook" title="Add to my favorite"> <img src="views/img/icons8-romance-48.png" alt=""> </button>
                                        <button  ng-show="isAdmin" ng-click="deleteBook(healthBook._id)" class="classButtonsBook" title="Delete book"> <img src="views/img/icons8-trash-can-40.png" alt=""> </button>
                                        <!-- <button  ng-show="isAdmin" class="classButtonsBook" title="Edit info for book"> <img src="views/img/icons8-eraser-48.png" alt=""> </button> -->
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="templallbooks"  ng-show="dramaBook" fxLayout="row" fxLayoutAlign="center center">
                    <div class="bigBoxBookTempl"  ng-repeat="dramaBook in dramaBooks   | filter: { title: bookTitle, author: bookAuthor  }">
                            <img  src="{{dramaBook.pictureBook}}" alt=""  > </img> 
                            <div class="boxBookTempl">
                               <div class="dropdown-contentImg">
                                    <img src="{{dramaBook.pictureBook}}" ng-click="moreInfo(dramaBook._id)" title='click to view more about book'  width="280" height="400">
                                    <div class="desc">{{dramaBook.title}}</div>
                                    <div id="buttonsForLikeAddEdit">
                                        <button  ng-click="addToFavorite(dramaBook._id)" class="classButtonsBook" title="Add to my favorite"> <img src="views/img/icons8-romance-48.png" alt=""> </button>
                                        <button  ng-show="isAdmin" ng-click="deleteBook(dramaBook._id)" class="classButtonsBook" title="Delete book"> <img src="views/img/icons8-trash-can-40.png" alt=""> </button>
                                        <!-- <button  ng-show="isAdmin" class="classButtonsBook" title="Edit info for book"> <img src="views/img/icons8-eraser-48.png" alt=""> </button> -->
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

        </div>
    </div>

</div>
