<div class="slider">
   
    <div class="slide" ng-repeat="image in images" ng-show="image.visible" >
        <img ng-src="{{image.src}}" />
    </div>

    <!-- <div class="slide" ng-repeat="book in images" ng-show="book.visible" >
        <img ng-src="{{book.pictureBook}}" />
    </div> -->

    <div class="arrows" >
        <a class="arrowsLeft"   ng-click="prev()">
            <img width="100px" src="https://www.onefineart.com/assets/img/arrowprev.png" />
        </a>
        <a class="arrowsRight"  ng-click="next()">
            <img width="100px" src="https://www.onefineart.com/assets/img/arrownext.png" />
        </a>
    </div>
</div>


