<img class="backgroundLoginRegister blur" src="https://kahvekitapcay.files.wordpress.com/2014/07/large.jpg" alt="">

<!-- <nav class="logRegNav">
        <ul class="logRegUl">
            <li><a class="login" href="#!/login">Login</a></li>
            <li><a class="register" href="#!/register">Register</a></li>
            <li><a class="register" href="#!/allBooks">Register</a></li>
        </ul>
</nav>  -->

<div id="loginBox">
    <h1>Login</h1>
    <div id="miniLoginBox">
        <input class="classLoginInputs"  type="text" placeholder="Enter username">
        <input class="classLoginInputs" type="password"  placeholder="Enter password">
        <button id="login-btn" class="classButton">Login</button>
        <div id="noAccount">
            <p>or</p>
            <a class="register" href="#!/register">Register</a>
        </div>
    </div>
</div>