<div id="goodReadBackground">
        <img id="imgWithBooks" class="shadow" src="views/img/img1.png" alt="">
        <h1>Welcome To </h1>
</div>
<br>
<div class="container" >
    <ul class="nav nav-tabs">
        <li class='active'><a data-toggle="tab" href="#!/homePage"> Home </a></li>
        <li><a data-toggle="tab" href="#!/allBooks"> All books </a></li>
        <li><a data-toggle="tab" href="#!/romance"> Romance </a></li>
        <li><a data-toggle="tab" href="#!/science"> Science</a></li>
        <li><a data-toggle="tab" href="#!/history">History</a></li>
        <li><a data-toggle="tab" href="#!/cookbooks">Cookbooks</a></li>
        <li><a data-toggle="tab" href="#!/fantasy">Fantasy</a></li>
        <li><a data-toggle="tab" href="#!/biographies">Biographies</a></li>
        <li><a data-toggle="tab" href="#!/comics">Comics</a></li>
        <li><a data-toggle="tab" href="#!/travel">Travel</a></li>
        <li><a data-toggle="tab" href="#!/health">Health</a></li>
        <li><a data-toggle="tab" href="#!/drama">Drama</a></li>
    </ul>

  <div id='addBooksInDB' >
        <h3>HOME </h3>
        <div id='input1'>
            <input class='classInputBook' type="text" placeholder="Enter title of Book">
            <input class='classInputBook' type="text" placeholder="Enter descriptns">
            <input class='classInputBook' type="text" placeholder="Author">
        </div>

        <div id='input2'>
            <input class='classInputBook' type="text" placeholder="Something">
            <input class='classInputBook' type="text" placeholder="Publisher">
            <input class='classInputBook' type="text" placeholder="Published">
        </div>

        <div id='input3'>
            <input class='classInputBook' type="text" placeholder="Pages">
            <input class='classInputBook' type="text" placeholder="About the author">
            <input class='classInputBook' type="text" placeholder="Price">
        </div>
       
       <div id='input4'>
            <input class='classInputBook' type="text" placeholder="Link to buy">
            <input class='classInputBook' type="text" placeholder="Pictured">
       </div>
       <div id='buttonAddBook'>
            <button type="button" class="btn btn-default">Default</button>
       </div>
  </div>
  