<img class="backgroundLoginRegister blur" src="https://kahvekitapcay.files.wordpress.com/2014/07/large.jpg" alt="">

<!-- <nav class="logRegNav">
        <ul class="logRegUl">
            <li><a class="login" href="#!/login">Login</a></li>
            <li><a class="register" href="#!/register">Register</a></li>
            <li><a class="register" href="#!/allBooks">Register</a></li>
        </ul>
</nav>  -->

<div id="loginBox">
    <h1>Login</h1>
    <div id="miniLoginBox">
        <form action="">
             <div>
                <i class="fa fa-envelope icon"></i>
                <input class="classLoginInputs"  type="text" placeholder="Enter username" ng-model="user.username">
            </div>
            <div>
                <i class="fa fa-key icon"></i>
                <input class="classLoginInputs" type="password"  placeholder="Enter password"  minlength="5" maxlength="12" required autocomplete="off" ng-model="user.password">
            </div>

            <button id="login-btn" class="classButton" ng-click="login($event)">Login</button>
            <div id="noAccount">
                <p>or</p>
                <a class="register" href="#!/register">Register</a>
            </div>
        </form>
    </div>
</div>

<h1> {{objct.name}} </h1>