

<div id="detailAboutBook">
    <h2>Title of Book</h2>
    <div id="buttonsInMoreInfoForBook">
        <button class="buttonsInMoreInfoForBook"  title="Add to my favorite"> <span class="glyphicon glyphicon-floppy-saved"></span> </button>
        <button class="buttonsInMoreInfoForBook" title="Delete book"> <span class="glyphicon glyphicon-floppy-remove"></span> </button>
        <button class="buttonsInMoreInfoForBook"  title="Edit info for book"> <span class="glyphicon glyphicon-edit"></span> </button>
    </div>
    <img src="https://ia.media-imdb.com/images/M/MV5BMjIyZGU4YzUtNDkzYi00ZDRhLTljYzctYTMxMDQ4M2E0Y2YxXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_UX182_CR0,0,182,268_AL_.jpg" alt="">
    <table>
        <thead>
            
        </thead>
        <tbody>
             <tr>
                <td class="first">More About Book</td>
                <td class="second">Religious texts (also known as scripture, or scriptures, from the Latin scriptura, meaning "writing") are texts which religious traditions consider to be central to their practice or beliefs. Religious texts may be used to provide meaning and purpose, evoke a deeper connection with the divine, convey religious truths, promote religious experience, foster communal identity, a</td>
            </tr>
            <tr>
                <td class="first">Author</td>
                <td class="second">asasasas</td>
            </tr>
            <tr>
                <td class="first">Type</td>
                <td class="second">Fantacy</td>
            </tr>
            <tr>
                <td class="first">Publisher</td>
                <td class="second">Amazon</td>
            </tr>
             <tr>
                <td class="first">Published</td>
                <td class="second">12.12.2013</td>
            </tr>
            <tr>
                <td class="first">Pages</td>
                <td class="second">200</td>
            </tr>
            <tr>
                <td class="first">About the author</td>
                <td class="second">Religious texts (also known as scripture, or scriptures, from the Latin scriptura, meaning "writing") are texts which religious traditions consider to be central to their practice or beliefs. Religious texts may be used to provide meaning and purpose, evoke a deeper connection with the divine, convey religious truths, promote religious experience, foster communal identity, a</td>
            </tr>
            <tr>
                <td class="first">Price</td>
                <td class="second">20</td>
            </tr>
            <tr>
                <td class="first">Link to buy</td>
            </tr>
        </tbody>
    </table>
    <span class="glyphicon glyphicon-step-backward">  <a  href="#!/allBooks">Back</a> </span>
</div>

<div id="commentsforBook">
    <div>
        <form action="">
            <textarea name="" id="" cols="100" rows="3"></textarea >
        </form>
    </div>

</div>