<div id="contactform">
    <div id="contactbigBox">

        <div id="contactBoxOne">
            <div id="contactInsideBox">
                <div id="elements">

                    <div id="contactPhone">
                        <span> <img src="views/img/icons8-phone-50.png" alt=""> </span>
                        <div>
                            <h5>Let's talk</h5>
                            <a href="tel:0885823810"> 0885823810 </a>
                        </div>
                    </div>


                    <div id="contactMeilAddres">
                        <span> <img src="views/img/icons8-secured-letter-48 (1).png" alt=""> </span>
                        <div>
                            <h5>Emai:</h5>
                            <a href="meil:artibele@hotmail.com"> artibele@hotmail.com </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div id="contactBoxTwo">
            <h1>Send Us A Message</h1>
            <div id="contactInputs">
                <form action="">
                    <input type="text" class="classContactInputs" placeholder="Tell us your name .. ">
                    <input type="text" class="classContactInputs" placeholder="Tell us your mobile phone .. ">
                    <input type="text" class="classContactInputs" placeholder="Enter your meil:">
                    <textarea cols="50" rows="3" class="classTextareContactInput" placeholder="Enter massege .. "></textarea>
                </form>
               <button title="Send Message"> <img src="views/img/icons8-secured-letter-48 (2).png" alt=""> </button>
            </div>
        </div>
    </div>
</div>