<div id="books" ng-controller="MyBooksController">
    <table id="booksTable">
        <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Type</th>
                <th>Avg.Rating</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr id="myBooks1" class="mybooks" ng-repeat="book in books">
                <td >
                    <img width="100px" ng-src="{{book.pictureBook}}" alt="">
                </td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.typeBook}}</td>
                <td>{{book.avgRating}}</td>
                <td>
                    <a ng-click="moreInfo(book._id)" href="">More</a>
                </td>
                <td ng-click="deleteFavoriteBook(book._id, $index)" class="x">X</td>
            </tr>

        </tbody>
    </table>
</div>