<div id="helloPage">
    <!-- <img id="backgroundImgWelcomePage" src="https://i.pinimg.com/originals/9e/60/f8/9e60f8eab62c1dab9acfab6f82db304b.jpg" alt=""/> -->
    
    <welcomeslider images="imagess">
    </welcomeslider>

    <div id="insideHelloPage">
        <div id="textHelloPage">
            <h1 id="bigWords"> Welcome to  <strong>Readers' Guide</strong> </h1>
            <h1 id="smallWords">If you want to learn about the latest books or just search for what to read, sign up or log in  </h1>
        </div>
        <p></p>
        <div id="helloPageLogReg">
            <button class="homePegeButtons"><a  href="#!/login">Login</a></button>
            <button class="homePegeButtons"> <a href="#!/register">Register</a></button>
            <button class="homePegeButtons"> <a href="#!/allBooks">View website</a></button>
        </div>
    </div>
</div>