<img class="backgroundLoginRegister blur" src="https://kahvekitapcay.files.wordpress.com/2014/07/large.jpg" alt=""/>
<!-- <nav class="logRegNav">
        <ul class="logRegUl">
            <li><a class="login" href="#!/login">Login</a></li>
            <li><a class="register" href="#!/register">Register</a></li>
            <li><a class="register" href="#!/allBooks">Register</a></li>
        </ul>
</nav>  -->

<div id="registerBox">
    <h1>Register</h1>
    <div id="miniRegisterBox">
        <input class="classLoginInputs" type="text" ng-model="user.firstName" placeholder="Enter First Name"/>
        <input class="classLoginInputs" type="text" ng-model="user.secondName" placeholder="Enter Secoun Name"/>
        <input class="classLoginInputs" type="text" ng-model="user.username" placeholder="Enter Username">
        <input class="classLoginInputs" type="email" ng-model="user.email" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*"  placeholder="Enter Email">
        <input class="classLoginInputs" type="password" ng-model="user.password" placeholder="Enter password">
        <input class="classLoginInputs" type="text" ng-model="user.userImgUrl" placeholder="Enter picture url">
        <button id="register-btn" class="classButton"  ng-click="registration()">Register</button>
        <a href="#!/login">Back</a>
    </div>
</div>